doctype html
html
    head
        link(href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet")
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    body
        div.border-t-2.border-gray-200.mt-3.clear-both.h-full.max-w-7xl.my-0.mx-auto.border-solid
            header
                nav.flex.justify-between
                    div#kv.w-32.bg-gray-200
                        a(href="/")
                            img(src="/logo.png", alt="")
                    - const token = actoken
                    - const _name = name
                    - const _id = id
                    - const _postTitle_any = postTitle_any
                    - const _postId_any = postId_any
                    - const _newPostTitle_any = newPostTitle_any
                    - const _newPostId_any = newPostId_any
                    - const _postTitle_game = postTitle_game
                    - const _postId_game = postId_game
                    - const _newPostTitle_game = newPostTitle_game
                    - const _newPostId_game = newPostId_game
                    if token
                        div #{_name} 님 환영합니다!
                    else
                        form(method="post")
                            ul.inline-block.pt-3
                                li.inline-block.pr-6 아이디 &nbsp;
                                    input#input(type="text", name="id").mr-4.bg-white.rounded-lg.placeholder-gray-400.text-gray-900.appearance-none.inline-block.shadow-md
                                li.inline-block.pr-6 비밀번호 &nbsp;
                                    input#input(type="text", name="pw").mr-4.bg-white.rounded-lg.placeholder-gray-400.text-gray-900.appearance-none.inline-block.shadow-md
                                li.inline-block.mr-4
                                    div
                                        button#btn(type="submit", formaction="/api/login/loginSuccess").bg-blue-500.text-white.font-bold.py-2.px-4.rounded 로그인
                                li.inline-block
                                    div
                                        a#btn.bg-blue-500.text-white.font-bold.py-2.px-4.rounded.block(href='/api/join') 회원가입
                    form
                        ul.inline-block.pt-4.text-xs
                            li.inline-block.text-white.mr-2
                                button#btn(type="submit" , formaction="/api/myPage").bg-blue-500.text-white.font-bold.py-2.px-4.rounded 마이페이지
                            li.inline-block.text-white.mr-2
                                button#btn(type="submit" , formaction="/").bg-blue-500.text-white.font-bold.py-2.px-4.rounded 고객센터
                            if token
                                li.inline-block.text-white.mr-2
                                    button#btn(type="submit" , formaction="/api/logout").bg-blue-500.text-white.font-bold.py-2.px-4.rounded 로그아웃
            main
                div.clear-both
                    div.w-40.float-left
                        ul
                            li
                                a#text_hover(href="/api/posts/") 자유 게시글
                            li
                                a#text_hover(href="/api/game/") 게임 게시글
                            li 텍스트
                            li 텍스트
                            li 텍스트
                            li 텍스트
                    div.float-left.h-full.max-w-3xl.border-t-2.border-gray-200.border-solid.border-r-2.border-l-2
                        div
                            img(src="/banner.jpg", alt="배너")
                        div
                            div.text-center.mt-8.mx-10.border.p-4.text-xl.font-bold 
                                a#text_hover(href="/api/posts") 자유 게시판
                            div.max-w-3xl.border-solid.border-gray-200.px-16.py-10.clear-both.text-center.flex.justify-between
                                div.w-72.border.px-2.border-gray-300.inline-block
                                    div 인기 게시글
                                    ul.text-sm.p-2
                                        - for (let index = 0; index <= 4; index++)
                                            li.text-center.overflow-ellipsis.whitespace-nowrap.overflow-hidden
                                                a#text_hover(href=`/api/posts/${_postId_any[index]}`) #{_postTitle_any[index]}
                                div.w-72.border.px-2.border-gray-300.inline-block
                                    div 새로운 게시글
                                    ul.text-sm.p-2
                                        - for (let index = 0; index <= 4; index++)
                                            li.text-center.overflow-ellipsis.whitespace-nowrap.overflow-hidden
                                                a#text_hover(href=`/api/posts/${_newPostId_any[index]}`) #{_newPostTitle_any[index]}
                            div.text-center.mx-10.border.p-4.text-xl.font-bold
                                a#text_hover(href="/api/game") 게임 게시판
                            div.max-w-3xl.border-solid.border-gray-200.px-16.py-10.clear-both.text-center.flex.justify-between
                                div.w-72.border.px-2.border-gray-300.inline-block
                                    div 인기 게시글
                                    ul.text-sm.p-2
                                        - for (let index = 0; index <= 4; index++)
                                            li.text-center.overflow-ellipsis.whitespace-nowrap.overflow-hidden
                                                a#text_hover(href=`/api/posts/${_postId_game[index]}`) #{_postTitle_game[index]}
                                div.w-72.border.px-2.border-gray-300.inline-block
                                    div 새로운 게시글
                                    ul.text-sm.p-2
                                        - for (let index = 0; index <= 4; index++)
                                            li.text-center.overflow-ellipsis.whitespace-nowrap.overflow-hidden
                                                a#text_hover(href=`/api/posts/${_newPostId_game[index]}`) #{_newPostTitle_game[index]}
                        div.px-6.py-6
                            div.w-60.py-4.px-10.flex.justify-between.w-full
                                div.border.border-gray-300.inline-block
                                    img(src="/fashion.jpg", alt="배너")
                                    div.w-40.overflow-ellipsis.whitespace-nowrap.overflow-hidden.text-center.mx-auto
                                        a#text_hover(href="#") 텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트
                                div.border.inline-block
                                    ul.text-sm.text-center.leading-7.flex-wrap.justify-between
                                        li
                                            a#text_hover(href="#") 텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트
                                        li
                                            a#text_hover(href="#") 텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트
                                        li
                                            a#text_hover(href="#") 텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트
                                        li
                                            a#text_hover(href="#") 텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트
                                        li
                                            a#text_hover(href="#") 텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트
                                        li
                                            a#text_hover(href="#") 텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트
                    div.h-60.w-4.float-left
                    div.float-left.h-full.w-80.pt-16
                        div#chatWrap.w-80.border.border-gray-300.rounded-md
                            h1#chatHeader.h-16.text-center.text-2xl.pt-4.font-bold.border-b.border-gray-300 채팅창
                            div#chats.h-96.overflow-y-auto.p-2.rounded-md
                            form#form.block.w-full.h-12.border-2.border-red-50.rounded-md
                                input#chatInput.h-10.px-1.border-none.outline-none.rounded-md.inline-block(type="text" autocomplete="off" size="30" placeholder="채팅을 입력해 보세요.")
                                input#chatId(type="hidden", name="id" value=_id)
                                button#chatSend.inline-block.bg-none.text-blue-500 보내기
            footer.border-t-2.border-gray-200
        script(src="/homePage.js")
        script(src="/post.js")
        script(src="/chat.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")