doctype html
html
    head
        link(href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet")
        link(href="/output.css" rel="stylesheet")
        link(rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css")
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    body
        - const token= actoken
        - const _name= name
        - const _id = id
        - const _posts= posts
        div(class="font-sans leading-normal tracking-normal" ,style="background:linear-gradient(to bottom, #4dc0b5 var(--scroll), transparent 0);")
            nav(id='header', class="bg-white border-b border-gray-400 shadow fixed w-full z-10 top-0")
                div(id="progress" class="h-1 z-20 top-0" style="background:linear-gradient(to right, #4dc0b5 var(--scroll), transparent 0);")
                div(class="w-full md:max-w-7xl mx-auto flex flex-wrap items-center justify-between mt-0 py-3")
                    div(class="pl-4")
                        a(class="text-gray-900 text-base no-underline hover:no-underline font-extrabold text-xl" href="/") SooLog
                    if token
                        ul(class="list-reset lg:flex justify-end flex-1 items-center")
                            div(class="inline-block px-4 text-gray-900 font-bold no-underline") #{_name} 님 환영합니다!
                            li(class="mr-3")
                                a(class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline" href="/api/myPage") 마이페이지
                            li(class="mr-3")
                                a(class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline" href="/api/logout") 로그아웃
                    else
                        ul(class="list-reset lg:flex justify-end flex-1 items-center")
                            li(class="mr-3")
                                a(class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline" href="/api/login") 로그인
                            li(class="mr-3")
                                a(class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline" href="/api/join") 회원가입
                div(class="w-full flex-grow lg:flex lg:items-center lg:w-auto lg:block mt-2 lg:mt-0 bg-gray-100 md:bg-transparent z-20 md:max-w-7xl mx-auto" id="nav-content")
                    ul(class="list-reset lg:flex justify-end flex-1 items-center")
                        li(class="mr-3")
                            a(class="inline-block py-2 px-4 text-gray-900 no-underline" href="/") 홈
                        li(class="mr-3")
                            a(class="inline-block text-gray-600 no-underline font-bold hover:text-gray-900 hover:text-underline py-2 px-4" href="/api/posts/") 자유게시글
                        li(class="mr-3")
                            a(class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-2 px-4" href="/api/game/") 게임게시글
                        li(class="mr-3")
                            a(class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-2 px-4" href="#") IT 기사
                        li(class="mr-3")
                            a(class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-2 px-4" href="#") link
            main
                div(class="container w-full md:max-w-8xl ml-auto pt-24")
                    div.inline-block.h-full.max-w-6xl.border-t-2.border-gray-200.border-solid.w-full.pt-14.border-r-2.border-gray-200.border-l-2.border-b-2
                        div#post_title.text-center.font-bold 자유 게시판
                            div#post_content.p-10.font-normal
                                table.border-t-2.border-b-2.border-gray-200.border-solid.w-full.max-w-6xl
                                    thead
                                        tr
                                            th.w-20 글번호
                                            th.max-w-2xl 제목
                                            th.w-28 작성자
                                            th.date.w-28 날짜
                                            th.w-20 조회수
                                    tbody
                                        if  _posts === null || _posts === undefined || _posts.length === 0
                                            tr
                                                td.text-center 게시물이 없습니다
                                        each val,idx in _posts
                                            tr
                                                td.px-1
                                                    span #{val.numId}
                                                td.px-1#select.text-left
                                                    a(href=`/api/posts/${val._id}`).max-w-2xl.overflow-ellipsis.overflow-hidden.whitespace-nowrap.leading-10.block.h-12 #{val.title}
                                                        if val.commentCount
                                                            span.text-xs.text-blue-500 &nbsp;[#{val.commentCount}]
                                                td.px-1
                                                    span #{val.writer.id}
                                                td.date.px-1
                                                    span#data_date(data-date=val.createdAt)
                                                td.px-1
                                                    span #{val.views}
                                div.inline-block.pt-6.w-full
                                        - const previousBtnEnabled = currentPage>1
                                        - const nextBtnEnabled = currentPage<maxPage
                                        - let index = 0
                                        a(href='/api/posts/new' , class="float-right flex-1 mt-4 block md:inline-block appearance-none bg-blue-500 text-white text-base font-semibold tracking-wider uppercase rounded shadow hover:bg-blue-400 py-2 px-4") 글작성
                                        //- Pagination
                                        mixin pagination(amount, active, ellipsis, last)
                                            .pagination.pt-4.text-center.inline-block
                                                //- prev arrow
                                                if (previousBtnEnabled)
                                                    a#pageBtn(href=`/api/posts?page=${currentPage-1}&limit=${limit}` title="Prev page").relative.inline-flex.items-center.px-2.py-2.rounded-l-md.border.border-gray-300.bg-white.text-sm.font-medium.text-gray-500.inline-block 이전
                                                else
                                                ul.pagination__list.w-50.inline-block
                                                    //- before ellipsis
                                                    - for (index = 1; index <= maxPage; index++)
                                                        if (index === currentPage)
                                                            li.inline-block
                                                                a#pageBtn(href=`/api/posts?page=${index}&limit=${limit}` title="Current page #{index}").z-10.bg-blue-50.border-blue-500.text-blue-600.relative.inline-flex.items-center.px-4.py-2.border.text-sm.font-medium= index
                                                        else if (index === ellipsis)
                                                            li.inline-block
                                                                a#pageBtn(href=`/api/posts?page=${index}&limit=${limit}` title="Show more").bg-white.border-gray-300.text-gray-500.relative.items-center.px-4.py-2.border.text-sm.font-medium.inline-block ...
                                                        else if (index >= ellipsis)
                                                        else
                                                            li.inline-block
                                                                a#pageBtn(href=`/api/posts?page=${index}&limit=${limit}` title="Go to page #{index}").bg-white.border-gray-300.text-gray-500.hover.relative.inline-flex.items-center.px-4.py-2.border.text-sm.font-medium= index
                                                    //- after ellipsis
                                                    - for ( index = amount + 1; index <= last; index++)
                                                        li.inline-block
                                                            a#pageBtn(href=`/api/posts?page=${index}&limit=${limit}` title="Go to pagе #{index}").bg-white.border-gray-300.text-gray-500.relative.items-center.px-4.py-2.border.text-sm.font-medium= index

                                                //- next arrow
                                                if (nextBtnEnabled)
                                                    a#pageBtn(href=`/api/posts?page=${currentPage+1}&limit=${limit}` title="Next page").relative.inline-flex.items-center.px-2.py-2.rounded-r-md.border.border-gray-300.bg-white.text-sm.font-medium.text-gray-500.inline-block 다음
                                                else
                                        +pagination(maxPage, currentPage, 4, maxPage)
                                        form#limitForm(action="/api/posts", method="get" class="float-left flex-1 mt-4")
                                            div.text-left
                                                label(for="show")
                                                select#limitPost(name="limit").border.bg-white.rounded.px-3.py-2.outline-none
                                                    option -개시글 수-
                                                    if limit == 5
                                                        option(value="5").selected 5개씩 보기
                                                    else
                                                        option(value="5") 5개씩 보기
                                                    if limit == 10
                                                        option(value="10").selected 10개씩 보기
                                                    else
                                                        option(value="10") 10개씩 보기
                                                    if limit == 20
                                                        option(value="20").selected 20개씩 보기
                                                    else
                                                        option(value="20") 20개씩 보기
                                form(action="/api/posts", method="get").float-left.px-2.py-6.text-center.w-full
                                    select(name="searchType").border.bg-white.rounded.px-1.py-2.outline-none.mr-1
                                        option -분류-
                                        option(value="title,body") Title, Body
                                        option(value="title") Title
                                        option(value="body") Body
                                    input(type="text" name="searchText" value=searchText).border.bg-white.rounded.px-3.py-2.outline-none.mr-2
                                    button(type="submit" class="block md:inline-block appearance-none bg-blue-500 text-white text-base font-semibold tracking-wider uppercase rounded shadow hover:bg-blue-400 py-2 px-4 mr-6") 검색
                    div.float-right.h-full.w-80.pt-16.mr-7
                        div#chatWrap.w-80.border.border-gray-300.rounded-md.fixed
                            h1#chatHeader.h-16.text-center.text-2xl.pt-4.font-bold.border-b.border-gray-300 채팅창
                            div#chats.h-96.overflow-y-auto.p-2.rounded-md
                            form#form.block.w-full.h-12.border-2.border-red-50.rounded-md
                                input#chatInput.h-10.px-1.border-none.outline-none.rounded-md(type="text" autocomplete="off" size="30" placeholder="채팅을 입력해 보세요.")
                                input#chatId(type="hidden", name="id" value=_id)
                                button#chatSend.inline-block.bg-none.text-blue-500 보내기
            footer(class="bg-white border-t border-gray-400 shadow")
                div(class="container max-w-4xl mx-auto flex py-8")
                    div(class="w-full mx-auto flex")
                        div(class="flex w-full md:w-1/2 ")
                            div(class="px-8")
                                h3(class="font-bold text-gray-900") About
                                p(class="py-4 text-gray-600 text-sm")
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel mi ut felis tempus commodo nec id erat. Suspendisse consectetur dapibus velit ut lacinia.
                        div(class="flex w-full md:w-1/2")
                            div(class="px-8")
                                h3(class="font-bold text-gray-900") Social
                                ul(class="list-reset items-center text-sm pt-3")
                                    li
                                        a(class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1" href="#") Add social link
                                    li
                                        a(class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1" href="#") Add social link
                                    li
                                        a(class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1" href="#") Add social link
        script(src="https://unpkg.com/@themesberg/flowbite@1.2.0/dist/flowbite.bundle.js")
        script(src="/post.js")
        script(src="/postLimit.js")
        script(src="/chat.js")
        script(src="/nav.js")
