doctype html
html
    head
        link(href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet")
        link(href="" rel="stylesheet")
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    body
        div.border-t-2.border-gray-200.mt-3.clear-both.h-full.max-w-7xl.my-0.mx-auto.border-solid
            header
                nav.flex.justify-between
                    div#kv.w-40.bg-gray-200.text-6xl kv
                    - const token= actoken
                    - const _name= name
                    if token
                        div #{_name} 님 환영합니다!
                    else
                        form(method="post")
                            ul.inline-block.pt-3
                                li.inline-block.pr-6 아이디 &nbsp;
                                    input#input(type="text", name="id").mr-4.bg-white.rounded-lg.placeholder-gray-400.text-gray-900.appearance-none.inline-block.shadow-md
                                li.inline-block.pr-6 비밀번호 &nbsp;
                                    input#input(type="text", name="pw").mr-4.bg-white.rounded-lg.placeholder-gray-400.text-gray-900.appearance-none.inline-block.shadow-md
                                li.inline-block.mr-4
                                    div
                                        button#btn(type="submit", formaction="/api/login/loginSuccess").bg-blue-500.text-white.font-bold.py-2.px-4.rounded 로그인
                                li.inline-block
                                    div
                                        a#btn.bg-blue-500.text-white.font-bold.py-2.px-4.rounded.block(href='/api/join') 회원가입
                    form
                        ul.inline-block.pt-4.text-xs
                            li.inline-block.text-white.mr-2
                                button#btn(type="submit" , formaction="/api/myPage").bg-blue-500.text-white.font-bold.py-2.px-4.rounded 마이페이지
                            li.inline-block.text-white.mr-2
                                button#btn(type="submit" , formaction="/").bg-blue-500.text-white.font-bold.py-2.px-4.rounded 고객센터
                            if token
                                li.inline-block.text-white.mr-2
                                    button#btn(type="submit" , formaction="/api/logout").bg-blue-500.text-white.font-bold.py-2.px-4.rounded 로그아웃
            main
                - const _posts= posts
                div.clear-both
                    div.w-40.float-left
                        ul
                            li
                                a#text_hover(href="/api/posts/") 자유 게시글
                            li
                                a#text_hover(href="/api/game/") 게임 게시글
                            li 텍스트
                            li 텍스트
                            li 텍스트
                            li 텍스트
                    div.float-left.h-full.max-w-2xl.border-t-2.border-gray-200.border-solid.w-full.max-w-3xl.pt-14.border-r-2.border-gray-200.border-l-2.border-b-2
                        div#post_title.text-center 타이틀
                            div#post_content.p-10
                                table.border-t-2.border-b-2.border-gray-200.border-solid.w-full.max-w-2xl
                                    thead
                                        tr
                                            th.w-14 글번호
                                            th.w-80 제목
                                            th.w-30 작성자
                                            th.date.w-26 날짜
                                            th.w-14 조회수
                                    tbody
                                        if  _posts === null || _posts === undefined || _posts.length === 0
                                            tr
                                                td.text-center 게시물이 없습니다
                                        each val,idx in _posts
                                            tr
                                                td.px-1
                                                    span #{val.numId}
                                                td.px-1#select.text-left
                                                    a(href=`/api/posts/${val._id}`).overflow-ellipsis.overflow-hidden.whitespace-nowrap.w-80.leading-10.block.h-12 #{val.title}
                                                        if val.commentCount
                                                            span.text-xs.text-blue-500 &nbsp;[#{val.commentCount}]
                                                td.px-1
                                                    span #{val.writer.id}
                                                td.date.px-1
                                                    span#data_date(data-date=val.createdAt)
                                                td.px-1
                                                    span #{val.views}
                                div.inline-block.pt-6.w-full
                                        - const previousBtnEnabled = currentPage>1
                                        - const nextBtnEnabled = currentPage<maxPage
                                        - let index = 0
                                        a#btn.bg-blue-500.text-white.font-bold.py-2.px-4.rounded.inline-block.float-right(href='/api/posts/new') 글작성
                                        //- Pagination
                                        mixin pagination(amount, active, ellipsis, last)
                                            .pagination.pt-4.text-center.inline-block
                                                //- prev arrow
                                                if (previousBtnEnabled)
                                                    a#pageBtn(href=`/api/posts?page=${currentPage-1}&limit=${limit}` title="Prev page").relative.inline-flex.items-center.px-2.py-2.rounded-l-md.border.border-gray-300.bg-white.text-sm.font-medium.text-gray-500.inline-block 이전
                                                else
                                                ul.pagination__list.w-50.inline-block
                                                    //- before ellipsis
                                                    - for (index = 1; index <= maxPage; index++)
                                                        if (index === currentPage)
                                                            li.inline-block
                                                                a#pageBtn(href=`/api/posts?page=${index}&limit=${limit}` title="Current page #{index}").z-10.bg-indigo-50.border-indigo-500.text-indigo-600.relative.inline-flex.items-center.px-4.py-2.border.text-sm.font-medium= index
                                                        else if (index === ellipsis)
                                                            li.inline-block
                                                                a#pageBtn(href=`/api/posts?page=${index}&limit=${limit}` title="Show more").bg-white.border-gray-300.text-gray-500.relative.items-center.px-4.py-2.border.text-sm.font-medium.inline-block ...
                                                        else if (index >= ellipsis)
                                                        else
                                                            li.inline-block
                                                                a#pageBtn(href=`/api/posts?page=${index}&limit=${limit}` title="Go to page #{index}").bg-white.border-gray-300.text-gray-500.hover.relative.inline-flex.items-center.px-4.py-2.border.text-sm.font-medium= index
                                                    //- after ellipsis
                                                    - for ( index = amount + 1; index <= last; index++)
                                                        li.inline-block
                                                            a#pageBtn(href=`/api/posts?page=${index}&limit=${limit}` title="Go to pagе #{index}").bg-white.border-gray-300.text-gray-500.relative.items-center.px-4.py-2.border.text-sm.font-medium= index

                                                //- next arrow
                                                if (nextBtnEnabled)
                                                    a#pageBtn(href=`/api/posts?page=${currentPage+1}&limit=${limit}` title="Next page").relative.inline-flex.items-center.px-2.py-2.rounded-r-md.border.border-gray-300.bg-white.text-sm.font-medium.text-gray-500.inline-block 다음
                                                else
                                        +pagination(maxPage, currentPage, 4, maxPage)
                                        form#limitForm(action="/api/posts", method="get").inline-block.float-left
                                            div.text-left
                                                label(for="show")
                                                select#limitPost(name="limit").border.bg-white.rounded.px-3.py-2.outline-none
                                                    option -개시글 수-
                                                    if limit == 5
                                                        option(value="5").selected 5개씩 보기
                                                    else
                                                        option(value="5") 5개씩 보기
                                                    if limit == 10
                                                        option(value="10").selected 10개씩 보기
                                                    else
                                                        option(value="10") 10개씩 보기
                                                    if limit == 20
                                                        option(value="20").selected 20개씩 보기
                                                    else
                                                        option(value="20") 20개씩 보기
                                form(action="/api/posts", method="get").float-left.px-2.py-6.text-center.w-full
                                    select(name="searchType").border.bg-white.rounded.px-1.py-2.outline-none.mr-1
                                        option -분류-
                                        option(value="title,body") Title, Body
                                        option(value="title") Title
                                        option(value="body") Body
                                    input(type="text" name="searchText" value=searchText).border.bg-white.rounded.px-3.py-2.outline-none.mr-2
                                    button(type="submit").bg-blue-500.text-white.font-bold.py-2.px-4.rounded.inline-block 검색
                    div.w-80.float-right
                        ul
                            li 채팅창
            footer.border-t-2.border-gray-200
        script(src="/homePage.js")
        script(src="/post.js")
        script(src="/postLimit.js")

