doctype html
html
    head
        link(href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet")
        //- link(href="/css/style.css" rel="stylesheet")
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    body
        - const token= acToken
        - const _name= name
        - const _id = id
        - const _writer= writer
        - const _userId= userId
        - const _post = post
        - const _comments = comments
        div(class="font-sans leading-normal tracking-normal")
            nav(id='header', class="bg-white border-b border-gray-400 shadow fixed w-full z-10 top-0")
                div(id="progress" class="h-1 z-20 top-0" style="background:linear-gradient(to right, #4dc0b5 var(--scroll), transparent 0);")
                div(class="w-full md:max-w-7xl mx-auto flex flex-wrap items-center justify-between mt-0 py-3")
                    div(class="pl-4")
                        a(class="text-gray-900 text-base no-underline hover:no-underline font-extrabold text-xl" href="/") SooLog
                    if token
                        ul(class="list-reset lg:flex justify-end flex-1 items-center")
                            div(class="inline-block px-4 text-gray-900 font-bold no-underline") #{_name} 님 환영합니다!
                            li(class="mr-3")
                                a(class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline" href="/api/myPage") 마이페이지
                            li(class="mr-3")
                                a(class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline" href="/api/logout") 로그아웃
                    else
                        ul(class="list-reset lg:flex justify-end flex-1 items-center")
                            li(class="mr-3")
                                a(class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline" href="/api/login") 로그인
                            li(class="mr-3")
                                a(class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline" href="/api/join") 회원가입
                div(class="w-full flex-grow lg:flex lg:items-center lg:w-auto lg:block mt-2 lg:mt-0 bg-gray-100 md:bg-transparent z-20 md:max-w-7xl mx-auto" id="nav-content")
                    ul(class="list-reset lg:flex justify-end flex-1 items-center")
                        li(class="mr-3")
                            a(class="inline-block py-2 px-4 text-gray-900 no-underline" href="/") 홈
                        li(class="mr-3")
                            a(class="inline-block text-gray-600 no-underline font-bold hover:text-gray-900 hover:text-underline py-2 px-4" href="/api/posts/") 자유게시글
                        li(class="mr-3")
                            a(class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-2 px-4" href="/api/game/") 게임게시글
                        li(class="mr-3")
                            a(class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-2 px-4" href="#") IT 기사
                        li(class="mr-3")
                            a(class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-2 px-4" href="#") link
            main
                div(class="container w-full md:max-w-7xl mx-auto pt-24")
                    div.inline-block.h-full.max-w-4xl.border-t-2.border-gray-200.border-solid.w-full.max-w-3xl.pt-14.border-r-2.border-gray-200.border-l-2.border-b-2.pb-6
                        form(action=`/api/posts/${_post.id}/delete`, method="post").border-b-2.border-gray-200.border-solid
                            div#post_title.text-center.font-bold 자유 게시판
                                div#card.p-10.text-left.font-normal
                                    label(for="title").font-bold 제목
                                    div.border-gray-200.border-b-2.border-gray-200.p-5.break-words #{_post.title}
                                div.p-10.text-left.font-normal
                                    label(for="body").font-bold 본문
                                    div#post-body.border-gray-200.border-b-2.border-gray-200.p-5.break-words #{_post.body}
                            div.m-2.p-2.clear-both
                                    div.text-right
                                        span 작성일 :
                                        span#dataDate-time(data-date-time=_post.createdAt)
                                    if _post.updatedAt
                                        div.text-right
                                            span 수정일 :
                                            span#dataDate-time(data-date-time=_post.updatedAt)
                            div.mx-2.p-10.text-center
                                a(class="block md:inline-block appearance-none bg-blue-500 text-white text-base font-semibold tracking-wider uppercase rounded shadow hover:bg-blue-400 py-2 px-4 mr-6" ,href="/api/posts") 돌아가기
                                a(class="block md:inline-block appearance-none bg-blue-500 text-white text-base font-semibold tracking-wider uppercase rounded shadow hover:bg-blue-400 py-2 px-4 mr-6" , href=`/api/posts/${_post.id}/edit`) 편집
                                if _userId === _writer
                                    button(class="block md:inline-block appearance-none bg-blue-500 text-white text-base font-semibold tracking-wider uppercase rounded shadow hover:bg-blue-400 py-2 px-4") 삭제
                        div.px-8.py-4
                            h4.border-b-2.border-gray-200.border-solid.px-2.py-1.bg-gray-300 댓글
                            if _comments.length
                                    each val,idx in _comments
                                        if !val.parentComment
                                            div.border-b-2.border-gray-200.border-solid.px-2.pt-2.pb-2.text-sm
                                                div.inline-block.w-28.h-full.align-top.py-2.break-words #{val.writer}
                                                div#clear.inline-block.w-80.align-middle.py-2.break-words #{val.text}
                                                div.text-xs.float-right
                                                    span 작성일
                                                    div#data-comment-time(data-comment-time=val.createdAt)
                                                    if val.updatedAt
                                                        span 수정일
                                                        div.text-xs#data-comment-updatedAt(data-comment-updatedAt=val.updatedAt)
                                                div.pr-2.text-blue-500.inline-block
                                                    button#commentParent(data-commentId=`${val._id}`) 댓글
                                                    div#reply_show.hidden.text-black(data-commentText=`${val._id}`)
                                                            form(action=`/api/comments/${_post._id}` method="post").pt-3
                                                                input(type="hidden" name="parentComment" value=val._id)
                                                                div.inline-block.text-left.pb-1.pl-28.align-top
                                                                    textarea.border-2.border-black.rounded-md(name="text", cols="46", rows="3")
                                                                    input(type="hidden", name="commentId", value=val._id)
                                                                div.inline-block.pl-10
                                                                    button#btn.bg-blue-500.text-white.font-bold.py-2.px-4.rounded 작성
                                                if val.writer === _userId
                                                    div.inline-block
                                                        div.text-blue-500
                                                            div.inline-block.pr-2
                                                                button#commentEdit(data-commentId=`${val._id}`) 편집
                                                            div.inline-block
                                                                form(action=`/api/comments/${_post._id}/delete`, method="post")
                                                                    input(type="hidden", name="commentId", value=val._id)
                                                                    button#commentDelete 삭제
                                                        div#comment_show.hidden(data-commentText=`${val._id}`)
                                                            form(action=`/api/comments/${_post._id}/edit` method="post").pt-3
                                                                div.inline-block.text-left.pb-1.pl-28.align-top
                                                                    textarea.border-2.border-black.rounded-md(name="text", cols="46", rows="3")=val.text
                                                                    input(type="hidden", name="commentId", value=val._id)
                                                                div.inline-block.pl-10
                                                                    button#btn.bg-blue-500.text-white.font-bold.py-2.px-4.rounded 편집
                                            -for(let i = 0; i<= _comments.length-1; i++)
                                                -for(let j=0;j<=val.childComment.length-1;j++ )
                                                    if val.childComment[j] === _comments[i].id
                                                        div.border-b-2.border-gray-200.border-solid.clear-both.px-2.pt-2.pl-6.pb-3.text-sm
                                                            div.inline-block.w-28.h-full.align-top.py-2.break-words #{_comments[i].writer}
                                                            div#clear.inline-block.w-80.align-middle.py-2.break-words #{_comments[i].text}
                                                            div.text-xs.float-right
                                                                span 작성일
                                                                div#data-comment-time(data-comment-time=_comments[i].createdAt)
                                                                if _comments[i].updatedAt
                                                                    span 수정일
                                                                    div.text-xs#data-comment-updatedAt(data-comment-updatedAt=_comments[i].updatedAt)
                                                            if _comments[i].writer === _userId
                                                                div.inline-block
                                                                    div.text-blue-500
                                                                        div.inline-block.pr-2
                                                                            button#commentEdit(data-commentId=`${_comments[i]._id}`) 편집
                                                                        div.inline-block
                                                                            form(action=`/api/comments/${_post._id}/delete`, method="post")
                                                                                input(type="hidden", name="commentId", value=_comments[i]._id)
                                                                                button#commentDelete 삭제
                                                                    div#comment_show.hidden(data-commentText=`${_comments[i]._id}`)
                                                                        form(action=`/api/comments/${_post._id}/edit` method="post").pt-3
                                                                            div.inline-block.text-left.pb-1.pl-28.align-top
                                                                                textarea.border-2.border-black.rounded-md(name="text", cols="46", rows="3")=_comments[i].text
                                                                                input(type="hidden", name="commentId", value=_comments[i]._id)
                                                                            div.inline-block.pl-10
                                                                                button(#btn.bg-blue-500.text-white.font-bold.py-2.px-4.rounded) 편집
                            form(action=`/api/comments/${post._id}`, method="post")
                                div.clear-both.px-8.py-10
                                    div.float-left
                                        textarea.border-2.border-black.rounded-md(name="text", cols="46", rows="3")
                                    div.float-right
                                        button(class="block md:inline-block appearance-none bg-blue-500 text-white text-base font-semibold tracking-wider uppercase rounded shadow hover:bg-blue-400 py-2 px-4") 댓글 작성
                    div.float-right.h-full.w-80.pt-16
                        div#chatWrap.w-80.border.border-gray-300.rounded-md
                            h1#chatHeader.h-16.text-center.text-2xl.pt-4.font-bold.border-b.border-gray-300 채팅창
                            div#chats.h-96.overflow-y-auto.p-2.rounded-md
                            form#form.block.w-full.h-12.border-2.border-red-50.rounded-md
                                input#chatInput.h-10.px-1.border-none.outline-none.rounded-md(type="text" autocomplete="off" size="30" placeholder="채팅을 입력해 보세요.")
                                input#chatId(type="hidden", name="id" value=_id)
                                button#chatSend.inline-block.bg-none.text-blue-500 보내기
            footer(class="bg-white border-t border-gray-400 shadow")
                div(class="container max-w-4xl mx-auto flex py-8")
                    div(class="w-full mx-auto flex")
                        div(class="flex w-full md:w-1/2 ")
                            div(class="px-8")
                                h3(class="font-bold text-gray-900") About
                                p(class="py-4 text-gray-600 text-sm")
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel mi ut felis tempus commodo nec id erat. Suspendisse consectetur dapibus velit ut lacinia.
                        div(class="flex w-full md:w-1/2")
                            div(class="px-8")
                                h3(class="font-bold text-gray-900") Social
                                ul(class="list-reset items-center text-sm pt-3")
                                    li
                                        a(class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1" href="#") Add social link
                                    li
                                        a(class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1" href="#") Add social link
                                    li
                                        a(class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1" href="#") Add social link
        script(src="/homePage.js")
        script(src="/post.js")
        script(src="/comments.js")
        script(src="/chat.js")