doctype html
html
    head
        link(href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet")
        //- link(href="/css/style.css" rel="stylesheet")
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    body
        div.border-t-2.border-gray-200.mt-3.clear-both.h-full.max-w-6xl.my-0.mx-auto.border-solid
            header
                nav.flex.justify-between
                    div#kv.w-40.bg-gray-200.text-6xl kv
                    - const token= acToken
                    - const _name= name
                    if token
                        div #{_name} 님 환영합니다!
                    else
                        form(method="post")
                            ul.inline-block.pt-3
                                li.inline-block.pr-6 아이디 &nbsp;
                                    input#input(type="text", name="id").mr-4.bg-white.rounded-lg.placeholder-gray-400.text-gray-900.appearance-none.inline-block.shadow-md
                                li.inline-block.pr-6 비밀번호 &nbsp;
                                    input#input(type="text", name="pw").mr-4.bg-white.rounded-lg.placeholder-gray-400.text-gray-900.appearance-none.inline-block.shadow-md
                                li.inline-block.mr-4
                                    div
                                        button#btn(type="submit", formaction="/api/login/loginSuccess").bg-blue-500.text-white.font-bold.py-2.px-4.rounded 로그인
                                li.inline-block
                                    div
                                        a#btn.bg-blue-500.text-white.font-bold.py-2.px-4.rounded.block(href='/api/join') 회원가입
                    form
                        ul.inline-block.pt-4.text-xs
                            li.inline-block.text-white.mr-2
                                button#btn(type="submit" , formaction="/api/myPage").bg-blue-500.text-white.font-bold.py-2.px-4.rounded 마이페이지
                            li.inline-block.text-white.mr-2
                                button#btn(type="submit" , formaction="/").bg-blue-500.text-white.font-bold.py-2.px-4.rounded 고객센터
                            if token
                                li.inline-block.text-white.mr-2
                                    button#btn(type="submit" , formaction="/api/logout").bg-blue-500.text-white.font-bold.py-2.px-4.rounded 로그아웃
            main
                - const _postId= postId
                - const _writer= writer
                - const _userId= userId
                div.clear-both
                    div.w-60.float-left
                        ul
                            li
                                a#text_hover(href="/api/posts/") 게시글
                            li 텍스트
                            li 텍스트
                            li 텍스트
                            li 텍스트
                            li 텍스트
                    div.float-left.h-full.max-w-2xl.border-t-2.border-gray-200.border-solid.w-full.max-w-2xl.pt-14.border-r-2.border-gray-200.border-l-2.border-b-2.pb-6
                        - const _post = post
                        - const _comments = comments
                        form(action=`/api/posts/${_postId}/delete`, method="post").border-b-2.border-gray-200.border-solid
                            div#post_title.text-center 타이틀
                                div#card.p-10.text-left
                                    label(for="title") Title
                                    div.border-gray-200.border-b-2.border-gray-200.p-5.break-words #{_post.title}
                                div.p-10.text-left
                                    label(for="body") Body
                                    div#post-body.border-gray-200.border-b-2.border-gray-200.p-5.break-words #{_post.body}
                            div.m-2.p-2.clear-both
                                    div.text-right
                                        span Created :
                                        span#dataDate-time(data-date-time=_post.createdAt)
                                    if _post.updatedAt
                                        div.text-right
                                            span Updated :
                                            span#dataDate-time(data-date-time=_post.updatedAt)
                            div.mx-2.p-10.text-center
                                a#btn.bg-blue-500.text-white.font-bold.py-2.px-4.rounded.mr-6(href="/api/posts") Back
                                a#btn.bg-blue-500.text-white.font-bold.py-2.px-4.rounded.mr-6(href=`/api/posts/${_postId}/edit`) Edit
                                if _userId === _writer
                                    button#btn.bg-blue-500.text-white.font-bold.py-2.px-4.rounded Delete
                        div.px-8.py-4
                            h4.border-b-2.border-gray-200.border-solid.px-2.py-1.bg-gray-300 댓글
                            if _comments.length
                                div
                                    each val,idx in _comments
                                        div.border-b-2.border-gray-200.border-solid.clear-both.px-2.py-1.text-sm
                                            div.inline-block.w-28.h-full.align-top.py-2 #{val.writer}
                                            div.inline-block.w-80.align-middle.py-2 #{val.text}
                                            div.float-right.text-xs#data-comment-time(data-comment-time=val.createdAt)
                                            if _comments.updatedAt
                                                div.float-right.text-xs  _comments.updatedAt
                                            if _comments.writer === _userId
                                                div.float-right.text-xs
                                                    div
                                                        a#commentEdit Edit
                                                    div
                                                        a#commentEditCancel Cancel
                            form(action=`/api/comments/${post._id}`, method="post")
                                div.clear-both.px-8.py-10
                                    div.float-left
                                        textarea.border-2.border-black.rounded-md(name="text", cols="46", rows="3")
                                    div.float-right
                                        button#btn.bg-blue-500.text-white.font-bold.py-2.px-4.rounded Add Comment

                    div.w-60.float-right
                        ul
                            li 채팅창
            footer.border-t-2.border-gray-200
        script(src="/homePage.js")
        script(src="/post.js")

